:root {
  --main-bg: hsl(225, 100%, 94%);
  --card-bg: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
}

@import url("https://fonts.google.com/specimen/Red+Hat+Display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 25px;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Red-Hat-Display', sans-serif;
}

p {
  color: var(--Desaturatedblue);
}

.card-text {
  text-align: center;
  margin: 0 50px;
  font-size: 14px;
  font-family: 'Red-Hat-Display', sans-serif;
  color: var(--Desaturatedblue);
  line-height: 1.5;
}

.card-title {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Red-Hat-Display', sans-serif;
  font-weight: 900;
}

.card-body {
  padding-bottom: 30px;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card {
  width: 350px;
  height: 575px;
  background-color: var(--Verypaleblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 20px 40px 0px #00000056;
}

.card-header {}

.card-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btn {
  background-color: var(--card-bg);
  border: none;
  color: var(--Verypaleblue);
  padding: 14px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0px 20px 40px 0px #00000056;
  margin-bottom: 32px;
  margin-top: 30px;
}

.btn:hover {
  background-color: var(--Desaturatedblue);
  cursor: pointer;
}

.music-img {
  float: left;
  margin-right: 15px;
}

.plan-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.plan-text {
  font-size: 16px;
}

.plan-section {
  display: flex;
  vertical-align: middle;
  margin-top: 10px;
}

.change-link {
  margin-left: 50px;
  padding-top: 15px;
  font-size: 14px;
  font-weight: bold;
}

.change-link:hover {
  color: var(--Desaturatedblue);
}

.bottom-link {
  color: var(--Desaturatedblue);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.bottom-link:hover {
  color: var(--Darkblue);
}
